CompileFlags:
  CompilationDatabase: build
  Add:
    - -std=c++23
    - -xc++-header
    - -Iinclude
    - -Wall
    - -Wextra
    - -Wcast-align
    - -Wconversion
    - -Wunreachable-code
    - -Wuninitialized
    - -Wunused
    - -pedantic
    - -ftemplate-depth=512

Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Add:
      - bugprone-*
      - modernize-*
      - performance-*
    Remove:
      - modernize-use-trailing-return-type

Index:
  Background: Build

---

If:
  PathMatch: tests/.*
CompileFlags:
  Add:
    - -Itests/include
    - -Itests/external

---

If:
  PathMatch: benchmarks/.*
CompileFlags:
  CompilationDatabase: build_bench
  Add:
    - -Ibenchmarks/include
