# editor files
.vscode/
.idea/
.zed/

# build files
*.exe
*build*/

# documentation files
documentation/
site/
mike-*.yml
docs/cpp-gl/

# python temporary files
**/__pycache__/
.ruff_cache/
.venv/

# other
*tmp*/
